{% extends 'layout.html' %}
{% block container %}
<div class="container">
		<form class="cmxform adminex-form form-signin" id="signupForm" action="">
		{{ form.csrf_token }}
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">Registration</h1>
            <img src="{{ url_for('static', filename='images/login-logo.png') }}" alt=""/>
        </div>


        <div class="login-wrap">
            <p> Enter your account details below</p>
            <div class="form-group">
                {{ form.username(placeholder=form.username.label.text, class_='form-control error', autofocus=true, required=true, id='username') }}
            </div>
			{{ form.password(placeholder=form.password.label.text, class_='form-control', autofocus=true, required=true, id='password') }}
			{{ form.confirm_password(placeholder=form.confirm_password.label.text, class_='form-control', autofocus=true,
			id='confirm_password', required=true)}}
            <button type="submit" class="btn btn-lg btn-login btn-block">
                注 册
            </button>

            <div class="registration">
                已经注册？
                <a href="{{ url_for('auth.login') }}" class="">
                    登 录
                </a>
            </div>

        </div>

    </form>
</div>

{% block javascript %}
{{ super() }}
<script src="//cdn.bootcss.com/jquery-validate/1.15.0/jquery.validate.min.js"></script>
<script src="{{url_for('static', filename='js/busad/register.js')}}"></script>
{% endblock %}

{% endblock %}

